.header {
  position: fixed;
  left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  width: 100%;
  z-index: 2;
}

.close-button {
  position: fixed;
  right: 1px;
  color: white;
  background-color: transparent;
  border: none;
  z-index: 2;
  font-size: 23px;
}