.main-container {
  position: fixed;
  left: 0;
  margin: 70px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.logo {
  margin: 10px 0 0 0;
  padding: 0;
  width: 70%;
  height: 100%;
}
